.widget {
	margin: 1.5em 0 1em 0;
	.widget-title{
		font-size: 2em;
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	p{
		margin-bottom: 1em;
	}
	.textwidget{
		form{
			background-color: $grey;
			padding: 0.5em;
			p{
				margin-bottom: 0;
			}
				label{
					color: $red;
					small{
						color: $red;
						padding: 0;
					}
				} 
				input{
					border-radius: 0px;
					color: $blue;
				}
				input[type="text"]{
					margin: 0;
				}
				input[type="file"]{
					width: 100%;
					color: $red;
				}
				.is-invalid-input:not(:focus){
					background-color: lighten($light-red, 25%);
				}
				textarea{
					border-radius: 0px;
				}
				small{
					color: $white;
					font-style: italic;
				}
			input[type="submit"]{
				background: rgba(255,255,255, 0.2);
				border-radius: 0;
				color: $white;
				@include font-size(1);
				padding: 0.5em 1em 0.4em 1em;
				width: 100%;
				transition: all 0.25s ease-in;
				background-color: $red;
				margin: 0;
				border: 2px solid $white;
				&:hover {
					background: $dark-red;
					border-color: transparent;
					border: 2px solid $light-grey;
				}
				&:active,
				&:focus {
					background: $dark-red;
					border-color: transparent;
					border: 2px solid $light-grey;
				}
			}
			div:last-child{
				border: 0;
				background-color: $light-grey;
				margin: 0.5em 0;
				color: $red;
			}
			
		}
	}
	
	.menu{
		display: inline;
		.facebook > a:before{
				content: '\f082';
			}
			.linkedin > a:before{
				content: '\f08c';
			}
			.twitter > a:before{
				content: '\f081';
			}
			.email > a:before{
				content: '\f199';
			}
		li{
			display: block;
			a{
				padding: 0.5rem 0;
				width: 150px;
				&:hover,
				&:focus,
				&:active{
					color: $red;
				}
				&:before{
					color: $blue;
					font-family: $font_icon;
					float: left;
					position: relative;
					top: -5px;
					padding-right: 0.5em;
					@include font-size(1.5);
				}
				&:hover:before,
				&:focus:before,
				&:active:before {
					color: $red;
				}
			}
		}
	}
}

.post-template-single-jobs{
	.widget{
		margin-top: 2em;
	}
}

