/*---- Color Palete ----*/
$teal: #1e97bf;
$blue: #283891;
$white: #ffffff;
$grey: #BFBFBF;
$magenta: #ea1183;

$dark-teal: darken($teal, 25%);

$transparent-teal: rgba(30, 151, 191, 0.9);
$transparent-dark-teal: rgba(19, 96, 122, 0.8);

$cyan: lighten($teal, 20%);

$dark-grey: darken($grey, 25%);
$light-grey: lighten($grey, 20%);

/*---- System Colors ----*/
$color__background-body: $light-grey;
$color__background-screen: $grey;
$color__background-hr: $teal;
$color__background-button: $dark-teal;
$color__background-pre: $white;
$color__background-ins: #fff9c0;

$color__text-screen: $dark-teal;
$color__text-input: $cyan;
$color__text-input-focus: $dark-teal;
$color__link: $teal;
$color__link-visited: lighten($magenta, 10%);
$color__link-hover: $magenta;
$color__text-main: $dark-teal;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $light-grey;
$color__border-abbr: $white;
