.top-bar{
	padding: 0;
	.title-bar{
		background-color: transparent;
		height: 50px;
		padding: 0.5em;
	}
	ul{
		background-color: $transparent-dark-teal;
	}
}

.main-navigation {
	ul {
		display: inline;
		list-style: none;
		margin: 0;
		padding-left: 0;
		width: 100%;
		ul {
			ul {
				left: -999em;
				top: 0;
			}

			li {
				border-bottom: 1px solid $white;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 100%;
				text-align: center;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		width: 100%;
		border-bottom: 1px solid $white;
		&:hover > a,
		&:focus > a {
			color: $magenta;
		}
	}
	
	a {
		display: block;
		text-decoration: none;
		@include font-size(1.25);
		font-weight: 800;
		color: $white;
		text-align: center;
	}

	.current_page_item > a,
	.current-menu-item > a{
		color: $magenta;
		&:before{
			color: $white;
		}
	}

	.current_page_ancestor > a,
	.current-menu-ancestor > a{
		color: darken($magenta, 10%);
		&:before{
			color: $white;
		}
	} 
	
}

.dropdown.menu > li.is-dropdown-submenu-parent > a{
	border-bottom: 1px solid $white;
}

.menu > .active > a{
	background: $teal;
}

.main-nav-menu{
	position: relative;
	top: 0px;
	right: 0px;
	ul{
		li.search{
			form {
				padding: 0.5em 0;
				width: 250px;
				@include center-block;
				input[type="search"]{
					margin-left: 15%;
					border-radius: 0;
				}
				input[type="submit"]{
					display: none;
				}
				&:before{
					content: '\f002';
					float: left;
					left: -5px;
					position: relative;
					font-family: $font_icon;
					color: $white;
					@include font-size(1.5);
				}
			}
		}
	}
}

.dropdown.menu > li.is-dropdown-submenu-parent > a:after{
	border-color: transparent ;
}

.sub-nav-menu{
	display: none;
}



/* Small menu. */
.menu-toggle{
	background-color: transparent;
	position: absolute;
	top: 17.5px;
	right: 17.5px;
	border-color: transparent;
	border: 0px;
	float: right;
	vertical-align: middle;
	i{
		color: $white;
		@include font-size(1.5);
		&:focus,
		&:active{
			color: $magenta;
			border-color: transparent;
			outline-color: transparent;
			border: 0px;
		}
		&:visited{
			color: darken($white, 25%);
			outline-color: none;
		}
	}
}


@media print, screen and (min-width: 40em){

	.top-bar .top-bar-left{
		width: 100%;
	}
	.top-bar .top-bar-right{
		width: 100%;
	}
}
/*--- Desktop Styles ---*/
@media screen and (min-width: 49em) {
	.top-bar{
		background: transparent;
		min-height: 135px;
		.site-branding{
			display: block;
		}
		ul{
			background-color: transparent;
		}
		.main-navigation{
			background-color: $light-grey;
		}
		.top-bar-left{
			width: auto;
		}
		.top-bar-right{
			width: auto;
		}
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
	.main-navigation{
		li{
			border-bottom: none;
			width: auto;
			a{
				color: $white;
				transition: all 0.25s ease-in;
				&:hover,
				&:focus,
				&:active{
					color: $magenta;
					border-bottom: 4px solid $magenta;
				}
			}
			ul{
				background-color: lighten($cyan, 10%);
				display: none;
				li{
					border-bottom: 1px solid $white;
					width: 100%;
					&:last-child{
						border-bottom: 0px;
					}
					a{
						text-align: left;
						color: $white;
						&:hover,
						&:focus,
						&:active{
							color: $magenta;
							border-bottom: 4px solid $magenta;
						}
					}
				}
			}
		}
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $magenta;
			border-bottom: 4px solid $magenta;
			&:before{
				color: $magenta;
			}
		}
	}
	.dropdown.menu > li.is-dropdown-submenu-parent > a {
		border-bottom: 0px;
		&:after{
		border-color: $dark-teal transparent transparent;
		}
	}
		
	
	.is-dropdown-submenu{
		min-width: auto;
	}
	.menu > .active> a{
		background: transparent;
		color: $magenta;
		&:hover,
		&:focus,
		&:active{
			color: darken($magenta, 10%);
		}
	}
	.main-nav-menu{
		background-color: transparent;
		float: right;
		.menu{
			margin-top: 15%;
		}
		li.search{
			display: none;
		}
	}
	.is-anchored .logo{
		margin: 2px 0;
	}
	.is-stuck{
		.logo{
			margin: 0;
		}
		.main-nav-menu{
			padding: 1em 0;
		}
		.sub-nav-menu{
			display: none;
		}
	}	
	
	.sub-nav-menu{
		display: inline-block;
		@include clearfix;
		.email > a:before{
			content: '\f0e0';
		}
		.phone > a:before{
			content: '\f095';
		}
		.careers > a:before{
			content: '\f0b1';
		}
		li{
			a{
				font-family: $font__main;
				@include font-size(0.8);
				font-weight: 700;
				float: right;
				padding: 0.7rem 0.7rem 0.7rem 0.2rem;
				&:before{
					float: left;
					position: relative;
					top: -2px;
					padding-right: 0.25em;
					font-family: $font_icon;
					color: $teal;
					@include font-size(1);
				}
				&:hover:before,
				&:focus:before,
				&:active:before{
					color: $teal;
				}
			}
			form{
				padding: 0.3rem;
				&:before{
					content: '\f002';
					float: left;
					position: absolute;
					padding-right: 0.25em;
					font-family: $font_icon;
					color: $teal;
					@include font-size(1);
				}
				input[type="search"]{
					border-radius: 0px;
					padding: 5px;
					border: 1px solid $teal;
					height: 24px;
					float: left;
					color: $dark-teal;
					font-family: $font__main;
					margin-left: 1.5em;
				}
				input[type="submit"]{
					display: none;
				}
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.breadcrumbs {
  margin: 0 0 1rem 0;
  list-style: none; }
  .breadcrumbs::before, .breadcrumbs::after {
    display: table;
    content: ' '; }
  .breadcrumbs::after {
    clear: both; }
  .breadcrumbs li {
    float: left;
    font-size: 0.6875rem;
    color: $dark-teal;
    cursor: default;
    text-transform: uppercase; }
    .breadcrumbs li:not(:last-child)::after {
      position: relative;
      top: 1px;
      margin: 0 0.25rem;
      opacity: 1;
      content: "";
     }
  .breadcrumbs a {
    color: $cyan; 
  }
    .breadcrumbs a:hover {
      text-decoration: underline; }
  .breadcrumbs .disabled {
    color: #cacaca;
    cursor: not-allowed; }

