.main-navigation {
	float: right;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		ul {
			// box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			// float: left;
			// position: absolute;
			// top: 1.5em;
			// left: -999em;
			// z-index: 99999;
			background-color: $mid-blue;
			ul {
				left: -999em;
				top: 0;
			}

			li {
				border-bottom: 1px solid $white;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 100%;
				text-align: center;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		width: 100%;
		border-bottom: 1px solid $white;
		&:hover > a,
		&:focus > a {
			color: $light-blue;
		}
	}
	
	a {
		display: block;
		text-decoration: none;
		@include font-size(1.25);
		color: $white;
		text-align: center;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $red;
		&:before{
			color: $red;
		}
	}
	
}

.main-nav-menu{
	float: right;
	@include clearfix;
	background-color: $dark-blue;
	position: relative;
	top: -20px;
	li{
		form{
			display: block;
			padding: 0.5em 0;
			input[type="search"]{
				width: 80%;
				margin-left: 15%;
				border-radius: 0;
			}
			input[type="submit"]{
				display: none;
			}
			&:before{
				content: '\f002';
				float: left;
				left: 5%;
				position: relative;
				padding-right: 0.25em;
				font-family: $font_icon;
				color: $white;
				@include font-size(1.5);
			}
		}
	}
}

.dropdown.menu > li.is-dropdown-submenu-parent > a:after{
	border-color: $white transparent transparent;
}

.sub-nav-menu{
	display: none;
}

.is-stuck{
	.site-header{
		height: 50px;
	}
	.sub-nav-menu{
		display: none;
	}
	.main-nav-menu{
		margin: 1em 0;
	}
}	

/* Small menu. */
.menu-toggle{
	background-color: transparent;
	position: relative;
	top: -40px;
	border-color: transparent;
	float: right;
	&:focus{
		border-color: transparent;
	}
	i{
		color: $red;
		@include font-size(1.5);
	}
}
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em){
	.menu-toggle{
		top: 20px;
	}
} 
/*--- Desktop Styles ---*/
@media screen and (min-width: 49em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
	.main-navigation{
		display: inline-block;
		li{
			border-bottom: none;
			width: auto;
			&:last-child:before{
				display: none;
			}
			a{
				color: $blue;
				width: 200px;
			}
			ul{
				background-color: $light-grey;
				li{
					border-bottom: 1px solid $dark-grey;
					a{
						text-align: left;
					}
				}
			}
		}
	}
	.dropdown.menu > li.is-dropdown-submenu-parent > a:after{
		border-color: $dark-blue transparent transparent;
	}
	.main-nav-menu{
		background-color: transparent;
		top: 0px;
		li{
			form{
				display: none;
			}
		}
	}
	.sub-nav-menu{
		display: inline-block;
		@include clearfix;
		.email > a:before{
			content: '\f0e0';
		}
		.phone > a:before{
			content: '\f095';
		}
		.careers > a:before{
			content: '\f0b1';
		}
		li{
			a{
				font-family: $font__main;
				@include font-size(0.8);
				font-weight: 700;
				float: right;
				padding: 0.7rem 0.7rem 0.7rem 0.2rem;
				&:before{
					float: left;
					position: relative;
					top: -2px;
					padding-right: 0.25em;
					font-family: $font_icon;
					color: $blue;
					@include font-size(1);
				}
				&:hover:before,
				&:focus:before,
				&:active:before{
					color: $red;
				}
			}
			form{
				// float: right;
				padding: 0.3rem;
				// width: 50%;
				input[type="search"]{
					border-radius: 0px;
					padding: 5px;
					border: 1px solid $blue;
					height: 24px;
					float: left;
					color: $dark-blue;
					font-family: $font__main;
					margin-left: 1.5em;
				}
				input[type="submit"]{
					display: none;
				}
				&:before{
					content: '\f002';
					float: left;
					position: absolute;
					padding-right: 0.25em;
					font-family: $font_icon;
					color: $blue;
					@include font-size(1);
				}
			}
			
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
