.main-navigation {
	display: block;
	float: right;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
		form{
			input[type="search"]{
				border-radius: 0px;
				padding: 5px;
				border: 1px solid $blue;
				height: 24px;
				float: left;
				color: $dark-blue;
				font-family: $font__main;
			}
			input[type="submit"]{
				display: none;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		@include font-size(1.25);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $red;
		&:before{
			color: $red;
		}
	}
	
}

.main-nav-menu{
	float: right;
	@include clearfix;
}

.sub-nav-menu{
	@include clearfix;
	.email > a:before{
		content: '\f0e0';
	}
	.phone > a:before{
		content: '\f095';
	}
	.careers > a:before{
		content: '\f0b1';
	}
	li{
		a{
			font-family: $font__main;
			@include font-size(0.8);
			font-weight: 700;
			float: right;
			padding: 0.7rem 0.7rem 0.7rem 0.2rem;
			&:before{
				float: left;
				position: relative;
				top: -2px;
				padding-right: 0.25em;
				font-family: $font_icon;
				color: $blue;
				@include font-size(1);
			}
			&:hover:before,
			&:focus:before,
			&:active:before{
				color: $red;
			}
		}
		form{
			// float: right;
			padding: 0.3rem;
			input[type="search"]{
				border-radius: 0px;
				padding: 5px;
				border: 1px solid $blue;
				height: 24px;
				width: 90%;
				float: left;
				color: $dark-blue;
				font-family: $font__main;
				margin-left: 1.5em;
			}
			input[type="submit"]{
				display: none;
			}
			&:before{
				content: '\f002';
				float: left;
				position: absolute;
				padding-right: 0.25em;
				font-family: $font_icon;
				color: $blue;
				@include font-size(1);
			}
		}
		
	}
}



/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
	.main-nav-menu{
		li{
			&:last-child:before{
				display: none;
			}
			form{
				display: none;
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
