.contact-footer{
	display: block;
	width: 100%;
	@include clearfix;
	.contact-left{
		width: 100%;
		height: 60px;
		display: inline-table;
		background-color: $dark-teal;
		h2{
			color: $white;
			@include center-block;
			padding: 16px 0.9375rem;
			margin-bottom: 0;
			text-align: center;
		}
	}
	.contact-right{
		width: 100%;
		display: inline-table;
		position: relative;
		height: 60px;
		background-color: $teal;
		padding: 15px 0;
		a{
			@include center-block;
			vertical-align: middle;
			text-align: center;
		}
	}
	
}

.nav-links{
	border-top: 1px solid $teal;
	padding: 0.5em 0;
}

.site-footer{
	background-color: $dark-teal;
	min-height: 200px;
	width: 100%;
	.widget{
		margin: 0;
		ul{
			padding-left: 2px;
			// Social Media Icons 
			.facebook > a:before{
				content: '\f082';
			}
			.linkedin > a:before{
				content: '\f08c';
			}
			.twitter > a:before{
				content: '\f081';
			}
			.email > a:before{
				content: '\f199';
			}
			.blog > a:before{
				content: '\f02d';
			}
			li{
				display: block;
				font-family: $font__main;
				text-align: center;
				transition: all 0.25e ease-in;
				a{
					color: $white;
					width: 150px;
					padding: 0.5em 0;
					display: block;
					line-height: 1;
					@include center-block;
					&:hover,
					&:focus,
					&:active{
						color: $cyan;
					}
					&:before{
						color: $white;
						font-family: $font_icon;
						float: left;
						position: relative;
						top: -5px;
						padding-right: 0.5em;
						@include font-size(1.5);
					}
					&:hover:before,
					&:focus:before,
					&:active:before{
						color: $cyan;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 39.9375em) {
	.contact-footer{
		.contact-left{
			width: 50%;
			height: 60px;
			display: inline-table;
			background-color: $dark-teal;
			float: left;
			h2{
				color: $white;
				@include center-block;
				padding: 0 0.9375rem;
				text-align: center;
				margin-bottom: 0.5rem;
			}
		}
		.contact-right{
			width: 50%;
			float: right;
			display: inline-table;
			position: relative;
			height: 60px;
			a{
				@include center-block;
				vertical-align: middle;
				width: 200px;
				height: 34px;
				padding: 0.175em 0.5em;
			}
			&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: -1px;
					right: 0;
					margin-top: -32px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 33px 0 33px 48.5px;
					border-color: transparent transparent transparent $dark-teal;
			}
		}
	}
	.site-footer{
		.widget{
			margin: 2em 0 0 0;
			ul li a{
			text-align: left;
			}
		} 
			
	}
}




