.site-header{
	background: $light-grey;
	box-shadow: 0 4px 0 0 $dark-grey;
	width: 100%;
	.logo{
		width: 80px;
		height: auto;
		display: block;
	}
}

.site-branding{
	float: left;
}

@media screen and (min-width: 49em) {
	.site-header{
		.logo{
			width: 150px;
			height: auto;
			display: block;
			padding: 0.5em;
		}
	}
}