.sticky {
	display: block;
}

.bgheight{
	height: 100%;
}

.bgwidth{
	width: 100%;
}

/*---- Landing Page Styles ----*/
.landing{
	background: 0 0 no-repeat fixed;
	background-size: cover;
	margin: 0;
	width: 100%;
	height: 80vh;
	.landing-caption{
		position: relative;
		top: 35vh;
		text-align: center;
		.entry-title{
			@include font-size(2.3);
			line-height: 1.1;
			color: $white;
			font-weight: 900;
			margin: 0;
			margin-bottom: 0.5em;
		}
		p{
			color: $white;
			@include font-size(1.5);
			line-height: 1;
		}
		.clear-button{
			width: 100%;
		}
	}
}


.svg-container{
	display: none;
	position: relative;
		width: 100%;
		height: 0px;
		margin: 0 auto;
		.svg-center{
			width: 100%;
			 position: absolute;
			 bottom: 10vh;
			 text-align: center;
			 z-index: 90001;
			 .chevron-icon{
			 	color: $white;
			 	transition: all 0.25s ease-in;
			 	&:hover,
			 	&:active,
			 	&:focus{
			 		color: $magenta;
			}
		}
	}
}

.svg-container-bottom{
	@extend .svg-container;
	.svg-center{
		bottom: 0;
	}
}


.page-template-page-landing{
	.landing-section{
		.entry-title{
			margin: 0.5em 0;
			color: $white;
			@include font-size(2);
			text-align: center;
		}
	}
	.tag-services{
		background: $dark-teal;
		color: $teal;
		margin: 0;
		padding: 1em 0;
		.entry-content{
			padding: 0.5em 0;
		}
		h4{
			text-align: center;
			line-height: 1.5rem;
			color: $white;
		}
		p{
			color: $cyan;
			text-align: center;
		}
		img{
			@include center-block;
		}
		.clear-button{
			@include center-block;
			background: rgba(12, 17, 45, 0.2);
			border-color: $white;
			text-align: center;
			&:hover,
			&:focus,
			&:active{
				background: rgba(12, 17, 45, 0.6);
				border-color: transparent;
			}
		}
	}



	.featured{
		background: darken($cyan, 10%);
		padding: 3em 0 5em 0;
		h2{
			color: $white;
		}
		.menu > li > a {
			padding: 1.5em 1em;
			background: 0 200px no-repeat;
			transition: background 0.5s ease-in;
			color: $white;
			font-size: 1.5625rem;
			line-height: 1;
    		font-family: "Raleway", Verdana, sans-serif;
    		font-weight: 400;
			&:hover,
			&:active,
			&:focus {
				background: 0 0 no-repeat;
				background-size: cover;
				color: $magenta;
			}
		}
	}
}

#gallery-container{
	margin: 0 auto;
	.item{
		margin: 1em;
		a{ 
			padding: 5% 0;
			.item-title-wrapper {
				opacity: 0;
				background-color: $transparent-teal;
				position: absolute;
				width: 100%;
				height: 100%;
				display: inline-block;
				text-align: center;
				&:hover{
					opacity: 1;
					transition: opacity 0.5s ease-in;
				}
				&:active{
					opacity: 1;
				}
				.item-title{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					i{
						position: relative;
						@include font-size(3);
						color: $white;
						line-height: 1;
					}
					h2{
						color: $white;
						@include font-size(1.5);
						position: relative;
						text-align: center;
						line-height: 1;
					}
				}
			}
		}
	}
	.UI-UX{
		i:before{
			content: "\f10a";
		}
	}
	.Web{
		i:before{
			content: "\f13b";
			}
	}
	.Print {
		i:before{
			content: "\f02d";
		}
	}
	.Identity {
		i:before{
			content: "\f1c5";
		}
	}
}





/*-- Page Styles ---*/
.page-header{
	height: 60vh;
	width: 100%;
	background: 50% 0 no-repeat fixed;
	background-size: cover;
	position: relative;
	z-index: 1;
	.page-caption{
		position: absolute;
		left: 50%;
		top: 65%;
		transform: translate(-50%, -65%);
		.entry-title{
			color: $white;
			text-align: center;
			line-height: 1;
		}
	}
}


.callout{
		background: $cyan;
		padding: 0.5em 0;
		border: 1px solid $white;
		margin-top: 0.5em;
		i{
			color: $white;
			padding-right: 0.5em;
		}
		p{
			text-align: center;
			color: $white;
			margin: 0;
		}
	}

.contact-wrapper{
	border: 1px solid $teal;
	margin: 1rem 0;
	padding: 0.5em 1em;
	color: $white;
	h3{
		color: $teal;
	}
	label{
		color: $white;
	}
	input{
		border-radius: 0px;
		color: $teal;
	}
	.is-invalid-input:not(:focus){
		background-color: lighten($cyan, 25%);
	}
	textarea{
		border-radius: 0px;
	}
	small{
		color: $white;
		font-style: italic;
	}
	input[type="submit"]{
		background: $teal;
		color: $white;
		border-radius: 0;
		@include font-size(1);
		padding: 0.5em 1em 0.4em 1em;
		border: 2px solid $white;
		transition: all 0.25s ease-in;
		width: 100%;
		margin: 0.25em 0;
		&:hover {
			background: $dark-teal;
			border-color: transparent;
			border: 2px solid $light-grey;
		}

		&:active,
		&:focus {
			background: $dark-teal;
			border-color: transparent;
			border: 2px solid $light-grey;
		}
	}
}



.search, .archive, .error404{
	.page-header{
		min-height: auto;
		background-color: lighten($teal, 25%);
		background: 50% 0 no-repeat fixed;
		background-size: 100%;
		margin-bottom: 1em;
		height: 270px;
		position: relative;
		h1{
			color: $white;
			position: absolute;
			bottom: 0px;
		}
	}
	.hentry{
		padding: 0.5em 0;
		.entry-title{
			margin: 0;
		}
	}
	span{
		margin: 0.5em;
	}
}

// Tablet
@media screen and (min-width: 39.9375em) {
	.landing{
		background-size: cover;
		height: 110vh;
		.landing-caption{
			top: 40vh;
			.entry-title{
				@include font-size(4);
			}
		}
	}

	.tag-services{
		.landing-section{
			padding: 2em 0;
			height: 100vh;
			.entry-title{
				@include font-size(3);
			}
			h4{
				margin: 1.5em 0;
			}
		}
		.clear-button{
			width: 124px;
		}
	}


	.landing-section{
		height: 100%;
		.entry-title{
			@include font-size(3);
		}
	}
	

	.page-header{
		height: 70vh;
		background: center 0 no-repeat fixed;
		background-size: cover;
		.page-caption{
			left: 50%;
			bottom: 30%;
			transform: translate(-50%, -30%);
			.entry-title{
				color: $white;
				@include font-size(4);
			}
		}
	}
	.post-template-single-project{
		.page-header{
			height: 110vh;
			.page-caption{
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				.entry-title{
					color: $white;
					@include font-size(4);
				}
			}
		}
	}
	.category-web{
		.page-header{
			background: linear-gradient(rgba(19, 96, 122, 0.6), rgba(19, 96, 122, 0.8)), url('images/web_bg.jpg') center 0 no-repeat fixed;
			background-size: cover;
		}
	}

	.category-print{
		.page-header{
			background: linear-gradient(rgba(19, 96, 122, 0.6), rgba(19, 96, 122, 0.8)), url('images/print_bg.jpg') center 0 no-repeat fixed;
			background-size: cover;
		}
	}

	.category-uiux{
		.page-header{
			background: linear-gradient(rgba(19, 96, 122, 0.6), rgba(19, 96, 122, 0.8)), url('images/uiux_bg.jpg') center 0 no-repeat fixed;
			background-size: 100%;
		}
	}

	.category-identity{
		.page-header{
			background: linear-gradient(rgba(19, 96, 122, 0.6), rgba(19, 96, 122, 0.8)), url('images/identity_bg.jpg') center 0 no-repeat fixed;
			background-size: 100%;
		}
	}
	.gallery{
		width: 800px;
		margin: 0 auto;
		padding-bottom: 135px;
	}
	.breadcrumbs{
		margin: 2rem 0;
	}
	.contact-wrapper input[type="submit"]{
		width: auto;
	}
	.orbit-container{
		 max-height: 600px;
	}
	.svg-container, .svg-container-bottom{
		display: block;	
	}
}

// Desktop
@media screen and (min-width: 49em) {
	.landing{
		background-size: cover;
		height: 100vh;
		.landing-caption{
			text-align: left;
			.entry-title{
				@include font-size(5);
				text-transform: capitalize;
			}
		}
	}

	.page-template-page-landing{
		.landing-section{
			padding: 3em 0;
			.entry-title{
				text-align: left;
				@include font-size(3);
			}
			h4{
				margin: 1.5em 0;
			}
		}
		.featured{
			padding: 3em 0 5em 0;
			.entry-title{
				text-align: left;
				@include font-size(3);
			}
			h4{
				margin: 1.5em 0;
			}
		}
	}
	.page-header{
		height: 60vh;
		background: 0 0 no-repeat fixed;
		background-size: 100%;
		.page-caption{
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			.entry-title{
				color: $white;
				@include font-size(4);
			}
		}
	}
	.post-template-single-project{
		.page-header{
			height: 100vh;
			.page-caption{
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				.entry-title{
					color: $white;
					@include font-size(4);
				}
			}
		}
	}
	.category-web{
		.page-header{
			background-size: 100%;
		}
	}

	.category-print{
		.page-header{
			background-size: 100%;
		}
	}
	.gallery{
		width: 1024px;
	}
	.breadcrumbs{
		margin: 2rem 0;
	}
	.contact-wrapper input[type="submit"]{
		width: auto;
	}
}

#chevronDown, #chevronUp{
	fill: currentColor;
}

/*-- Universal Styles ---*/

.site-content{
	position: relative;
	top: -135px;
}

.breadcrumbs{
	margin: 1em 0 0.5em 0;
	li{
		color: lighten($teal, 40%);
	}
}
.hentry {
	margin: 0 0 1.5em;
}

.page-template-page-landing .hentry{
	margin: 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	color: $white;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
