.sticky {
	display: block;
}

.bgheight{
	height: 100%;
}

.bgwidth{
	width: 100%;
}

/*---- Landing Page Styles ----*/
.landing{
	background: 0 0 no-repeat fixed;
	background-size: cover;
	margin: 0;
	height: 600px;
	.landing-caption{
		position: relative;
		top: 200px;
		text-align: center;
		.entry-title{
			@include font-size(5);
			line-height: 1;
			color: $white;
			font-weight: 900;
			margin: 0;
		}
		p{
			color: $white;
			@include font-size(2);
			line-height: 1.5rem;
		}
		.clear-button{
			width: 100%;
		}
	}
}

.svg-container{
		position: relative;
		width: 100%;
		height: 0px;
		margin: 0 auto;
		.svg-center{
			width: 100%;
			 position: absolute;
			 bottom: 10px;
			 text-align: center;
			 z-index: 90001;
		}
	}

.page-template-page-landing{

	.tag-services{
		background: $dark-teal;
		color: $teal;
		margin: 0;
		padding: 3em 0;
		h2{
			margin: 0.5em 0;
			color: $white;
		}
		.entry-content{
			padding: 2.5em 0;
		}
		h4{
			text-align: center;
			line-height: 1.5rem;
			color: $white;
		}
		p{
			color: $cyan;
		}
		img{
			@include center-block;
		}
		.clear-button{
			@include center-block;
			background: rgba(12, 17, 45, 0.2);
			border-color: $white;
			text-align: center;
			&:hover,
			&:focus,
			&:active{
				background: rgba(12, 17, 45, 0.6);
				border-color: transparent;
			}
		}
	}

	.featured{
		background: darken($cyan, 10%);
		padding: 3em 0;
		h2{
			color: $white;
		}
		.menu > li > a {
			padding: 1.5em 1em;
			background: 0 200px no-repeat;
			transition: background 0.5s ease-in;
			color: $white;
			font-size: 1.5625rem;
			line-height: 1;
    		font-family: "Raleway", Verdana, sans-serif;
    		font-weight: 400;
			&:hover,
			&:active,
			&:focus {
				background: 0 0 no-repeat;
				background-size: cover;
				color: $magenta;
			}
		}
	}
}





/*-- Page Styles ---*/
.page-header{
	min-height: 200px;
	width: 100%;
	background: 50% 50px no-repeat fixed;
	background-size: 100%;
	position: relative;
	z-index: 1;
	.page-caption{
		position: absolute;
		bottom: 0px;
		left: 1rem;
		.entry-title{
			color: $white;
		}
	}
}


.callout{
		background: $cyan;
		padding: 0.5em 0;
		border: 1px solid $white;
		margin-top: 0.5em;
		i{
			color: $white;
			padding-right: 0.5em;
		}
		p{
			text-align: center;
			color: $white;
			margin: 0;
		}
	}

.contact-wrapper{
	background-color: $grey;
	padding: 0.5em 1em;
	color: $white;
	h3{
		color: $teal;
	}
	label{
		color: $white;
	}
	input{
		border-radius: 0px;
		color: $teal;
	}
	.is-invalid-input:not(:focus){
		background-color: lighten($cyan, 25%);
	}
	textarea{
		border-radius: 0px;
	}
	small{
		color: $white;
		font-style: italic;
	}
	input[type="submit"]{
		background: $teal;
		color: $white;
		border-radius: 0;
		@include font-size(1);
		padding: 0.5em 1em 0.4em 1em;
		border: 2px solid $white;
		transition: all 0.25s ease-in;
		width: 100%;
		margin: 0.25em 0;
		&:hover {
			background: $dark-teal;
			border-color: transparent;
			border: 2px solid $light-grey;
		}

		&:active,
		&:focus {
			background: $dark-teal;
			border-color: transparent;
			border: 2px solid $light-grey;
		}
	}
}

.search, .archive, .error404{
	.page-header{
		min-height: auto;
		background-color: $teal;
		margin-bottom: 1em;
		h1{
			color: $white;
		}
	}
	.hentry{
		border-bottom: 1px solid $dark-teal;
		padding: 0.5em 0;
	}
	span{
		margin: 0.5em;
	}
	.page-content{
		margin-bottom: 1em;
		input[type="search"]{
			width: 75%;
			float: left;
		}
		input[type="submit"]{
			@extend .clear-button;
			background-color: $dark-teal;
			width: 25%;
			padding: 0.65em 0;
			float: right;
			&:hover,
			&:active,
			&:focus{
				background-color: darken($dark-teal, 25%);
			}
		}
	}
}




@media screen and (min-width: 39.9375em) {
	.landing{
		background-size: cover;
		height: 700px;
		.landing-caption{
			top: 275px;
			text-align: left;
			.entry-title{
				@include font-size(10);
			}
		}
	}

	.page-template-page-landing{
		.clear-button{
			width: 124px;
		}
	}
	.page-header{
		min-height: 550px;
		background: 0 0 no-repeat fixed;
		background-size: 100%;
		.page-caption{
			bottom: 0px;
			.entry-title{
				color: $white
			}
		}
	}
	.breadcrumbs{
		margin: 1rem 0;
	}
	.contact-wrapper input[type="submit"]{
		width: auto;
	}
}
/*-- Universal Styles ---*/

.site-content{
	position: relative;
	top: -135px;
}

.breadcrumbs{
	margin: 0.5rem 0;
}
.hentry {
	margin: 0 0 1.5em;
}

.page-template-page-landing .hentry{
	margin: 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
